<main class="session">
	<div>
		<div class="session-date">8/21/2015</div>
		<div class="today-session">today's <span>session</span>:</div>
		<div class="type-of-workout" data-id="{{id}}">{{type}}</div><br>
		<p class="time-of-day"><i class="fa fa-clock-o"></i> 4:00 pm</p>
		<p class="time-of-workout"><i class="fa fa-hourglass-start"></i> 30 Minutes</p>
		<form class="i-did-it-form">
			<button class="session-details"><i class="fa fa-list"></i> session details</button><br>
			<div class="divbtn">
				<button class="i-did-it-btn"><i class="fa fa-check fa-2x"></i> i did it!</button>
			</div>
		</form>
	</div>
</main>
